<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Privacy Policy</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row-fluid privacy">
        <p>Welcome to HomeSquare.co. We understand how important privacy and security are to you and your neighbors. We invite you to read our policy and contact us if you have any questions or concerns. The effective date of this policy is 3 August, 2013.</p>
        <p>This policy is a part of the HomeSquare terms of service, but it controls over any conflicts with that agreement. This statement only addresses our practices associated with the HomeSquare.co website. Other websites we operate may be subject to other policies and practices.</p>
        <br />

        <h4>Information You Provide to Us</h4>
        <p><em>Profile Information.</em> We allow you to create a personal profile and submit information such as your name, email address, phone number, photo, birthday, gender, education, occupation, biography and personal interests. We may give you ways to hide some of this profile information, but your name and address may be visible to your neighbors so long as you maintain your account.</p>
        <p><em>Communications with Other Members.</em> We give you a variety of ways to communicate with your neighbors and share Content (as defined in the terms of service). Some of these communications are visible to the entire neighborhood and apartment, although we may give your neighbors ways to block your communications. Other communications (such as messages between you and another individual member) may be visible only to a subset of your neighbors. In some cases, we may limit your ability to edit or remove Content from HomeSquare.co.</p>
        <p><em>Third Party Offers.</em> We do not turn over your personally identifiable information to third party marketers without your express consent.</p>
        <p>We may create a section of the site to present offers for goods and services we think you'd like. If you decide to participate with an offer, you may be presented with an opportunity to share information with the merchant. If you accept the offer, then we'll send the information you requested to share with the merchant. We won't transmit information to the merchant until you explicitly ask us to do so. At that point, the data we deliver to the merchant will be governed by the merchant's privacy policy, not ours.</p>
        <p><em>Data Modification/Deletion.</em> You can delete your account by contacting us. Alternatively, you can delete most types of individual Content items. Deleting your account will delete all Content you provided, except that we may choose to retain Content incorporated into the apartment/neighborhood's conversations; and we may attribute that Content to your name even after you depart. If we allow you to change apartments/neighborhoods on our site, we may retain your conversation contributions in your old apartment/neighborhood (and keep the attribution to your name) but allow you to move your profile to your new apartment/neighborhood. If you are the subject of an unauthorized profile, please contact us.</p>
        <br />

        <h4>Information We Collect Automatically</h4>
        <p><em>Server Logs.</em> We automatically collect information about your visits to our website and your interaction with our email, including the browser you are using, the URLs you came from and go to, your computer's operating system, your IP address, and usage and browsing habits. We use this information to diagnose and resolve server problems, analyze trends, help target offers and other ads, track user movement in the aggregate, and gather broad demographic information.</p>
        <p><em>Cookies.</em> Like most websites, our website uses "cookies," small data files stored on your computer which include a unique identifier. Most web browsers automatically accept cookies. You can configure your browser to reject cookies, but doing so will prevent you from logging into our website.</p>
        <p><em>Web Beacons.</em> Our website and emails may contain "web beacons" that help us measure and track member activity. Some of these web beacons come from us; others come from our service providers.</p>

        <br />

        <h4>Information We Get About You From Third Parties</h4>
        <p>To start the apartment/neighborhood, we obtain public information about your home such as street addresses and maps. Your neighbors may provide us with, and share with your other neighbors, information about you (even if you are not a member), such as your name, email address, street address, phone numbers and other information typically found in neighborhood directories. If you aren't a member but would like us to delete non-public information about you, contact us.</p>

        <br />

        <h4>Respecting Your Neighbors' Privacy</h4>
        <p>One of HomeSquare's central tenets is that neighbors should be able to communicate only amongst themselves. For this reason, we restrict who can access your neighborhood website and take efforts to exclude non-neighbors from the conversation. For example, we don't let public Web search engines (such as Google) index member-submitted Content.</p>
        <p>Given this norm, taking information shared by one neighbor to another and sharing it outside the neighborhood(s) violates your neighbors' expectations and is a serious breach of trust. Therefore, you may not share your neighbors' information or any communications sent through HomeSquare with anyone outside the neighborhood(s) to which the post was distributed without the author's permission. Also, you may not gather information from the website, either manually or on an automated basis (such as through scripts, robots, crawlers or spiders). Without limiting the foregoing, it is not OK to provide your neighbors' information from the website to third party marketers.</p>
        <p>Violating this provision may lead to a loss of account privileges, potentially including a permanent ban from the neighborhood website.</p>

        <br />

        <h4>Email Subscriptions</h4>
        <p>We will alert you of various activities within your apartment and neighborhood via email. You can manage your email preferences on your settings page. Certain member-related administrative emails cannot be turned off; the only way to end those is to terminate your account.</p>

        <br />

        <h4>Contractors/Service Providers</h4>
        <p>Third party contractors may have access to our databases. These contractors sign a standard confidentiality agreement.</p>
        <p>Some of our site's functionality may be operated by third party service providers, and in the course of providing this functionality, these service providers may obtain some of your personal data from you directly or transferred from us to facilitate your usage of this service.</p>
        <p>If we choose to display ads, third party ad servers may place or recognize a cookie and, using the cookie or otherwise, collect and use data from your visits to this and other websites to serve ads to you.</p>

        <br />

        <h4>Our Corporate Family</h4>
        <p> We may share your data with any parent company, subsidiaries, other entities under a common control or third party acquirers. We expect these other entities will honor this statement. Also, we may allow a potential acquirer or merger partner to review our database, although we would restrict their use and disclosure of this data during the diligence phase.</p>

        <br />

        <h4>Government Relations and Lawsuits</h4>
        <p>We may disclose data about you to the government if we are required to do so or as we think is prudent for safety or security reasons; and you authorize us to make these disclosures. We may also disclose data about you in connection with actual or potential legal proceedings (a) in response to judicial or other government subpoenas, warrants or orders, (b) if we are required to do so in other ways, (c) if such disclosures might mitigate our liability, or (d) to enforce our rights.</p>

        <br />

        <h4>Limits on Our Abilities</h4>
        <p>While we work hard to respect your privacy, like any other complex web service, we might inadvertently use or disclose your data in ways inconsistent with this statement. For example, a temporary software glitch could lead to public display of your personal data despite your contrary preferences. We might also make ad hoc uses of your data in ways not mentioned here. In these anomalous situations, we will try to rectify the anomaly as soon as we can.</p>

        <br />

        <h4>Data Retention</h4>
        <p>Subject to any mandatory obligations to delete data, we may choose to retain information in our server logs, our databases and our records indefinitely.</p>

        <br />

        <h4>Security</h4>
        <p>To enhance the security of your interactions with the site, HomeSquare.co uses https on its web pages to prevent unauthorized interception of your communications during your site visits and takes measures to protect passwords from unauthorized access. We also use a variety of security measures to protect your information in our databases. However, perfect security does not exist on the Internet.</p>

        <br />

        <h4>Amendment</h4>
        <p>This privacy policy is part of the HomeSquare Terms of Service and can be modified in accordance with the amendment procedures described in that document.</p>

        <br />

        <p>Contact Us: privacy@homesquare.co</p>                
    </div><!--/row-fluid-->        
</div><!--/container-->		
<!--=== End Content Part ===-->