      <div class="container">
      	<div id="search-container">
      		<div id="search" class="block">
      			<header>
      				<h2>Find your property</h2>
      				<p>Type in the name of your property and its location below and we&#x27;ll try to find it</p>
      			</header>

      			<form accept-charset="UTF-8" action="/search" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
      				<fieldset>
      					<input class="search-query" id="query" name="query" type="text" />
      					<input class="btn btn-success" type="submit" value="Search" />
      				</fieldset>
      			</form>
      			
      		</div>

      		
      	</div>
      </div>